@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}

body {
    font-size: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: cursive;
}

table {
    width: 100%;
}

th, td, tr {
    border: 1px green solid;
}

td {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-image {
    width: 80%;
}

h6 {
    margin: 0
}

h3 {
    margin: 0
}

h5 {
    margin: 0
}

.card {
    background-color: #66BA4F;
    padding: 5px 5px 5px 5px;
    border: 2px green solid;
    border-radius: 5px;
    margin-right: 15px;
}